@page "/animals"
@using Evolution.Dtos
@using System.Text.Json
@inject HttpClient Http

<h1>Animals</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (animals == null)
{
    <p><em>Loading jungle ...</em></p>
}
else
{

    @foreach (var animal in animals)
    {
        <div>
            @JsonSerializer.Serialize(animal);
        </div>
    }

}

@code {
    private AnimalDto[] animals;

    protected override async Task OnInitializedAsync()
    {
        animals = await Http.GetFromJsonAsync<AnimalDto[]>("https://localhost:6001/apis/animals");
    }

}
